/Debug
/UpgradeLog.htm
/UpgradeLog2.htm
/WinRot.VC.db
/WinRot.sdf
/WinRot.v11.suo
/WinRot.vcxproj.user
/build/WinRot.exe
/live/WinRot.exe
/WinRot.exe

# player save files
/player/*.plr
/player/*.bak

# area logs
/gods/*.gsf

# area logs
/log/*.log

# compiled binaries
rot
*.o
*.exe

# temp files
*.swp
*~

nohelp.txt
shutdown.txt

